body{
      background-color:black;
    background-image: url(https://tctechcrunch2011.files.wordpress.com/2015/08/clouds.jpg);
    background-size: cover  
}
h3{
    display: inline;
    
}
h1{
    display: inline
}
h1.list{
    clear: left;
}
button{
    display:block;
    clear:right
}
img{
    border-left: 1px solid yellow
}