<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
</head>
<body>
    <div class="container">
     
    <h3>CHIRPER</h3>
   <img src=""> 
    <a href="#add"><button class="subBtn">ADD NEW CHIRP!</button></a>
    <br>
    <a href="#list" class="subBtn"><button>READ NEW CHIRPS!</button></a>
    <!-- <nv-view></nv-view> -->
</div>
<script src="app/app.js"></script>
</body>
</html>